@font-face {
    font-family: Norse-Bold;
    src: url(fonts/Norse-Bold.otf);
}

body {
    display: flex;
    margin: 0;
    background: #111;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.hero {
    background-image: url("images/green-leaf.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
    width: 525px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo {
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Norse-Bold, sans-serif;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17.5vh;
}

.logo_image {
    height: 125px;
    padding: 10px 0;
}

.credits {
    text-align: center;
}

.credits a {
    color: white;
}

.content {
    background-color: #f8f8ff;
    height: 80vh;
    width: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header p {
    margin: 0;
}